[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Vetle Harnes
	email = vetle.harnes@banenor.no
[core]
	excludesfile = /Users/vetleh/.gitignore
